body {
    background-color: #cbf3f0;
    margin: 0px;
}

header {
    width: 100%;
    background-color: #2ec4b6;
    padding-bottom: 10px;
    padding-top: 38px;
}
.redes{
    padding-top: 10px;
    padding-bottom: 0px;
}

h1 {
    font-size: 48px;
    font-family: 'Rubik Puddles', cursive;
    color: #ffffff;
    text-align: center;
    margin: 10px 0px;
}

.boton {
    background-color: #ff9f1c;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
    text-decoration: none;
    border: 4px outset #ffbf69;
}

.logo {
    border-radius: 0%;
    height: 20px;
    width: 20px;
}

footer {
    height: auto;
    text-align: center;
    background-color: #2ec4b6;
}

.textoFooter{
    color: #ffffff;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: xx-large;
    padding-bottom: 10px;
    margin: 0px 0px;
}

img {
    height: 250px;
    width: 250px;
    width: 35%;
}

div {
    padding: 10px 5px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2ec4b6;
    padding: 5px 0px;
}

aside {
    width: 60%;
    background-color: #ffbf69;
    border-radius: 20px;
    padding: 10px;
    float: right;
    flex: auto;
}

img {
    border-radius: 20px;
}